<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>KNN</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet">
    </head>
    <body>

        <header>
            <nav class="navbar navbar-expand-lg" style="background-color: #FF3FDC;">
                <div class="container-fluid">
                  <a class="navbar-brand" href="{% url 'index' %}">Samantha</a>
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav">
                      <li class="nav-item">
                        <a class="nav-link"  href="{% url 'tablaDatos' %}">Datos</a>
                      </li>
                      <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          Algoritmos
                        </a>
                        <ul class="dropdown-menu">
                          <li><a class="dropdown-item" href="#">KNN</a></li>
                          <li><a class="dropdown-item" href="{% url 'bayes' %}">BAYES</a></li>
                          <li><a class="dropdown-item" href="{% url 'regresionL' %}">REGRESIÓN</a></li>
                        </ul>
                      </li>
                    </ul>
                  </div>
                </div>
            </nav>
        </header>

        <div class="page-header text-center">
          <h1>ALGORITMO KNN</h1>
        </div>

        <div class="content container">
          <div class="col-lg-10 mx-auto">
            <form action="/buscar/" method="GET" class="row g-3 needs-validation" novalidate>
              <div class="col-md-3 position-relative">
                <label for="validationTooltip01" class="form-label">K</label>
                <input type="text" name ='k' class="form-control" id="validationTooltip01" required>
                <div class="valid-tooltip">
                  Looks good!
                </div>
              </div>
              <div class="col-md-3 position-relative">
                <label for="validationTooltip02" class="form-label">x1</label>
                <input type="text" name ='x1' class="form-control" id="validationTooltip02" required>
                <div class="valid-tooltip">
                  Looks good!
                </div>
              </div>
              <div class="col-md-3 position-relative">
                <label for="validationTooltip02" class="form-label">x2</label>
                <input type="text" name ='x2' class="form-control" id="validationTooltip02" required>
                <div class="valid-tooltip">
                  Looks good!
                </div>
              </div>
              <div class="col-md-3 position-relative">
                <label for="validationTooltip02" class="form-label">x3</label>
                <input type="text" name ='x3' class="form-control" id="validationTooltip02" required>
                <div class="valid-tooltip">
                  Looks good!
                </div>
              </div>
              <div class="col-12">
                <button class="btn btn-primary" type="submit" value="Buscar">Clasificar</button>
              </div>
            </form>
          </div>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script>
    
    </body>
</html>